# Amazon Review Data Cleaning

In [1]:
import pandas as pd

# First Dataset 
amazon1 = pd.read_csv('C:/Users/wonny/Downloads/nlp/0_rawdata/Reviews.csv')
amazon1.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [2]:
amazon1.shape

(568454, 10)

In [3]:
# Imbalanced Dataset 
amazon1['Score'].value_counts()

Score
5    363122
4     80655
1     52268
3     42640
2     29769
Name: count, dtype: int64

In [4]:
amazon1_subset = amazon1[['Score', 'Text']]
amazon1_subset

        Score                                               Text
0           5  I have bought several of the Vitality canned d...
1           1  Product arrived labeled as Jumbo Salted Peanut...
2           4  This is a confection that has been around a fe...
3           2  If you are looking for the secret ingredient i...
4           5  Great taffy at a great price.  There was a wid...
...       ...                                                ...
568449      5  Great for sesame chicken..this is a good if no...
568450      2  I'm disappointed with the flavor. The chocolat...
568451      5  These stars are small, so you can give 10-15 o...
568452      5  These are the BEST treats for training and rew...
568453      5  I am very satisfied ,product is as advertised,...

[568454 rows x 2 columns]

In [5]:
# Rename the column names 
amazon1_1 = amazon1_subset.copy()
amazon1_1.rename(columns={'Score' : 'rating', 'Text' : 'review'}, inplace=True)
amazon1_1

        rating                                             review
0            5  I have bought several of the Vitality canned d...
1            1  Product arrived labeled as Jumbo Salted Peanut...
2            4  This is a confection that has been around a fe...
3            2  If you are looking for the secret ingredient i...
4            5  Great taffy at a great price.  There was a wid...
...        ...                                                ...
568449       5  Great for sesame chicken..this is a good if no...
568450       2  I'm disappointed with the flavor. The chocolat...
568451       5  These stars are small, so you can give 10-15 o...
568452       5  These are the BEST treats for training and rew...
568453       5  I am very satisfied ,product is as advertised,...

[568454 rows x 2 columns]

In [6]:
# Second Dataset
amazon2 = pd.read_csv("C:/Users/wonny/Downloads/nlp/0_rawdata/cleaned_reviews.csv")
amazon2.head()

,sentiments,cleaned_review,cleaned_review_length,review_score
0,positive,i wish would have gotten one earlier love it a...,19,5.0
1,neutral,i ve learned this lesson again open the packag...,88,1.0
2,neutral,it is so slow and lags find better option,9,2.0
3,neutral,roller ball stopped working within months of m...,12,1.0
4,neutral,i like the color and size but it few days out ...,21,1.0

In [7]:
amazon2.shape

(17340, 4)

In [8]:
# Imbalanced dataset again
amazon2['review_score'].value_counts()

review_score
5.0    9316
1.0    3898
4.0    1714
2.0    1295
3.0    1117
Name: count, dtype: int64

In [9]:
amazon2_subset = amazon2[['review_score', 'cleaned_review']]
amazon2_subset

       review_score                                     cleaned_review
0               5.0  i wish would have gotten one earlier love it a...
1               1.0  i ve learned this lesson again open the packag...
2               2.0          it is so slow and lags find better option
3               1.0  roller ball stopped working within months of m...
4               1.0  i like the color and size but it few days out ...
...             ...                                                ...
17335           5.0  i love this speaker and love can take it anywh...
17336           4.0  i use it in my house easy to connect and loud ...
17337           5.0  the bass is good and the battery is amazing mu...
17338           5.0                                            love it
17339           5.0                                       mono speaker

[17340 rows x 2 columns]

In [10]:
amazon2_2 = amazon1_subset.copy()
amazon2_2.rename(columns={'Score' : 'rating', 'Text' : 'review'}, inplace=True)
amazon2_2

        rating                                             review
0            5  I have bought several of the Vitality canned d...
1            1  Product arrived labeled as Jumbo Salted Peanut...
2            4  This is a confection that has been around a fe...
3            2  If you are looking for the secret ingredient i...
4            5  Great taffy at a great price.  There was a wid...
...        ...                                                ...
568449       5  Great for sesame chicken..this is a good if no...
568450       2  I'm disappointed with the flavor. The chocolat...
568451       5  These stars are small, so you can give 10-15 o...
568452       5  These are the BEST treats for training and rew...
568453       5  I am very satisfied ,product is as advertised,...

[568454 rows x 2 columns]

In [11]:
# Third Dataset
amazon3 = pd.read_csv("c:/users/wonny/Downloads/nlp/0_rawdata/amazon_reviews.csv")
amazon3.head()

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
0,0,NaN,4.0,No issues.,2014-07-23,138,0,0,0,0,0.0,0.0
1,1,0mie,5.0,"Purchased this for my device, it worked as adv...",2013-10-25,409,0,0,0,0,0.0,0.0
2,2,1K3,4.0,it works as expected. I should have sprung for...,2012-12-23,715,0,0,0,0,0.0,0.0
3,3,1m2,5.0,This think has worked out great.Had a diff. br...,2013-11-21,382,0,0,0,0,0.0,0.0
4,4,2&amp;1/2Men,5.0,"Bought it with Retail Packaging, arrived legit...",2013-07-13,513,0,0,0,0,0.0,0.0

In [12]:
amazon3.shape

(4915, 12)

In [13]:
amazon3['overall'].value_counts()

overall
5.0    3922
4.0     527
1.0     244
3.0     142
2.0      80
Name: count, dtype: int64

In [14]:
amazon3_subset = amazon3[['overall', 'reviewText']]
amazon3_subset

      overall                                         reviewText
0         4.0                                         No issues.
1         5.0  Purchased this for my device, it worked as adv...
2         4.0  it works as expected. I should have sprung for...
3         5.0  This think has worked out great.Had a diff. br...
4         5.0  Bought it with Retail Packaging, arrived legit...
...       ...                                                ...
4910      1.0  I bought this Sandisk 16GB Class 10 to use wit...
4911      5.0  Used this for extending the capabilities of my...
4912      5.0  Great card that is very fast and reliable. It ...
4913      5.0  Good amount of space for the stuff I want to d...
4914      5.0  I've heard bad things about this 64gb Micro SD...

[4915 rows x 2 columns]

In [15]:
amazon3_3 = amazon1_subset.copy()
amazon3_3.rename(columns={'Score' : 'rating', 'Text' : 'review'}, inplace=True)
amazon3_3

        rating                                             review
0            5  I have bought several of the Vitality canned d...
1            1  Product arrived labeled as Jumbo Salted Peanut...
2            4  This is a confection that has been around a fe...
3            2  If you are looking for the secret ingredient i...
4            5  Great taffy at a great price.  There was a wid...
...        ...                                                ...
568449       5  Great for sesame chicken..this is a good if no...
568450       2  I'm disappointed with the flavor. The chocolat...
568451       5  These stars are small, so you can give 10-15 o...
568452       5  These are the BEST treats for training and rew...
568453       5  I am very satisfied ,product is as advertised,...

[568454 rows x 2 columns]

In [16]:
result_df = pd.concat([amazon1_1, amazon2_2, amazon3_3])
result_df

        rating                                             review
0            5  I have bought several of the Vitality canned d...
1            1  Product arrived labeled as Jumbo Salted Peanut...
2            4  This is a confection that has been around a fe...
3            2  If you are looking for the secret ingredient i...
4            5  Great taffy at a great price.  There was a wid...
...        ...                                                ...
568449       5  Great for sesame chicken..this is a good if no...
568450       2  I'm disappointed with the flavor. The chocolat...
568451       5  These stars are small, so you can give 10-15 o...
568452       5  These are the BEST treats for training and rew...
568453       5  I am very satisfied ,product is as advertised,...

[1705362 rows x 2 columns]

In [17]:
# Merge three datasets: df1, df2, df3. Then, create a new column 'sentiment'.
# Assign sentiment values based on the 'rating' column as follows:
# 1 for positive reviews (where rating is 4 or 5),
# 0 for neutral reviews (where rating is 3),
# -1 for negative reviews (where rating is 1 or 2).

result_df['sentiment'] = result_df['rating'].apply(lambda x: 1 if x in [4, 5] else (0 if x == 3 else -1 if x in [1, 2] else None))
result_df

        rating                                             review  sentiment
0            5  I have bought several of the Vitality canned d...          1
1            1  Product arrived labeled as Jumbo Salted Peanut...         -1
2            4  This is a confection that has been around a fe...          1
3            2  If you are looking for the secret ingredient i...         -1
4            5  Great taffy at a great price.  There was a wid...          1
...        ...                                                ...        ...
568449       5  Great for sesame chicken..this is a good if no...          1
568450       2  I'm disappointed with the flavor. The chocolat...         -1
568451       5  These stars are small, so you can give 10-15 o...          1
568452       5  These are the BEST treats for training and rew...          1
568453       5  I am very satisfied ,product is as advertised,...          1

[1705362 rows x 3 columns]

In [18]:
# Count occurrences of each sentiment value (1, 0, -1) in the 'sentiment' column.
result_df['sentiment'].value_counts()

sentiment
 1    1331331
-1     246111
 0     127920
Name: count, dtype: int64

In [19]:
# Equalize the number of positive (1), neutral (0), and negative (-1) rows to 120K each.
sampled_df = result_df.groupby('sentiment').apply(lambda x: x.sample(n=120000))
sampled_df = sampled_df.reset_index(drop=True)
sampled_df

        rating                                             review  sentiment
0            1  I'm terribly disappointed in this product and ...         -1
1            2  everyone keep telling me how good kale chips a...         -1
2            2  I bought this popcorn a few months ago off of ...         -1
3            1  The pods puff up when the hot water initially ...         -1
4            2  I saw the word "pomegranate" and jumped into a...         -1
...        ...                                                ...        ...
359995       5  If you do not like sugared dark chocolate, you...          1
359996       5  I love tea, but I also unfortunately love coke...          1
359997       5  I bought the Strawberry Kiwi power mix.  It se...          1
359998       5  I discovered this product a couple of years ag...          1
359999       4  I use a French press exclusively. I rarely mak...          1

[360000 rows x 3 columns]

In [20]:
# Rearrange the column order 
sampled_df = sampled_df[['rating', 'sentiment', 'review']]
sampled_df

        rating  sentiment                                             review
0            1         -1  I'm terribly disappointed in this product and ...
1            2         -1  everyone keep telling me how good kale chips a...
2            2         -1  I bought this popcorn a few months ago off of ...
3            1         -1  The pods puff up when the hot water initially ...
4            2         -1  I saw the word "pomegranate" and jumped into a...
...        ...        ...                                                ...
359995       5          1  If you do not like sugared dark chocolate, you...
359996       5          1  I love tea, but I also unfortunately love coke...
359997       5          1  I bought the Strawberry Kiwi power mix.  It se...
359998       5          1  I discovered this product a couple of years ag...
359999       4          1  I use a French press exclusively. I rarely mak...

[360000 rows x 3 columns]

In [21]:
# Display a sample of the 'review' text data for inspection.
sampled_df['review'].sample(10)

79909     This product was just poorly thought out and a...
84861     I expected a cheese wheel labeled "Wisconsin" ...
179421    Like all the other reviewers here, the product...
109058    The black salt seems a little bit mouisture.  ...
205084    If your dog likes Naked bars then this is the ...
213171    I love Kettle Corn, so, although I'm not much ...
238766    Having grown up in a hunting family, I grew up...
29010     This was not good. The flavor was lacking and ...
261745    This versatile sauce can be used as a dipping ...
166840    Check around your local chain stores.<br />Pri...
Name: review, dtype: object

In [22]:
# Calculate the average word length in the 'review' column, considering that an average English sentence has 15-20 words and typically spans 5-6 sentences.
lengths = sampled_df['review'].str.len()
average_length = lengths.mean()
print(average_length)

473.51744444444444

In [23]:
# Save the dataframe to a CSV file for future model training and analysis.
sampled_df.to_csv('C:/Users/wonny/Downloads/nlp/1_data_cleaning/amazon_base_data.csv', index=False)

In [24]:
# Verify that the 'rating' and 'sentiment' columns do not contain any anomalous values.
print(sampled_df['rating'].unique())
print(sampled_df['sentiment'].unique())

[1 2 3 5 4]
[-1  0  1]

# Ebay Review Data Cleaning

In [25]:
import pandas as pd 

ebay = pd.read_csv("C:/Users/wonny/Downloads/nlp/0_rawdata/ebay_reviews.csv")
ebay_subset = ebay[['category', 'rating', 'review content']]
ebay_subset['sentiment'] = ebay_subset['rating'].apply(lambda x: 1 if x in [4, 5] else (0 if x == 3 else -1 if x in [1, 2] else None))
ebay_subset = ebay_subset[['category', 'rating', 'sentiment', 'review content']]
ebay_df = ebay_subset.groupby('sentiment').apply(lambda x: x.sample(n=1350))
ebay_df = ebay_df.reset_index(drop=True)
ebay_df

,category,rating,sentiment,review content
0,Cell Phones & Smartphones,1,-1,Verified purchase:Â Yes | Condition:Â pre-owned...
1,Cell Phones & Smartphones,1,-1,Horrible phone
2,Men's Shavers,2,-1,Included with the shaver was a Special Offer W...
3,Digital Cameras,2,-1,The Camera worked for only two days and stoppe...
4,DVDs & Blu-ray Discs,1,-1,The product never came into my hands
...,...,...,...,...
4045,Video Games,5,1,Ily Tristan
4046,Digital Cameras,4,1,Takes great images... Better than expected and...
4047,Camcorders,5,1,I brought this camera because I feel in love w...
4048,Audio Docks & Mini Speakers,5,1,This is Awesome!! Sounds much better than all ...
4049,Video Game Consoles,5,1,"I always want one and now love it, for its inc..."

In [26]:
ebay_df['sentiment'].value_counts()

sentiment
-1    1350
 0    1350
 1    1350
Name: count, dtype: int64

In [27]:
ebay_df['category'].value_counts()

category
Cell Phones & Smartphones         913
Headphones                        419
Digital Cameras                   326
Video Games                       265
Video Game Consoles               163
                                 ...
Ratchets                            1
Hand Tool Parts & Accessories       1
Shaving & Grooming Kits & Sets      1
Circular Saw Blades                 1
Other                               1
Name: count, Length: 115, dtype: int64

In [28]:
ebay_df.to_csv('C:/Users/wonny/Downloads/nlp/1_data_cleaning/ebay_base_data.csv', index=False)

In [29]:
ebay_df_copy = ebay_df.copy()
ebay_upd_data = ebay_df_copy[['rating', 'sentiment', 'review content']]
ebay_upd_data.rename(columns={'review content': 'review'}, inplace=True)
ebay_upd_data

C:\Users\wonny\AppData\Local\Temp\ipykernel_32944\2346862561.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ebay_upd_data.rename(columns={'review content': 'review'}, inplace=True)

      rating  sentiment                                             review
0          1         -1  Verified purchase:Â  Yes | Condition:Â pre-owned...
1          1         -1                                     Horrible phone
2          2         -1  Included with the shaver was a Special Offer W...
3          2         -1  The Camera worked for only two days and stoppe...
4          1         -1               The product never came into my hands
...      ...        ...                                                ...
4045       5          1                                        Ily Tristan
4046       4          1  Takes great images... Better than expected and...
4047       5          1  I brought this camera because I feel in love w...
4048       5          1  This is Awesome!! Sounds much better than all ...
4049       5          1  I always want one and now love it, for its inc...

[4050 rows x 3 columns]

In [30]:
final_df = pd.concat([sampled_df, ebay_upd_data])
final_df

      rating  sentiment                                             review
0          1         -1  I'm terribly disappointed in this product and ...
1          2         -1  everyone keep telling me how good kale chips a...
2          2         -1  I bought this popcorn a few months ago off of ...
3          1         -1  The pods puff up when the hot water initially ...
4          2         -1  I saw the word "pomegranate" and jumped into a...
...      ...        ...                                                ...
4045       5          1                                        Ily Tristan
4046       4          1  Takes great images... Better than expected and...
4047       5          1  I brought this camera because I feel in love w...
4048       5          1  This is Awesome!! Sounds much better than all ...
4049       5          1  I always want one and now love it, for its inc...

[364050 rows x 3 columns]

In [31]:
final_df['category'] = final_df['sentiment'].apply(lambda x: "positive" if x == 1 else ("neutral" if x == 0 else "negative"))
final_df = final_df[['category', 'rating', 'sentiment', 'review']]
final_df

,category,rating,sentiment,review
0,negative,1,-1,I'm terribly disappointed in this product and ...
1,negative,2,-1,everyone keep telling me how good kale chips a...
2,negative,2,-1,I bought this popcorn a few months ago off of ...
3,negative,1,-1,The pods puff up when the hot water initially ...
4,negative,2,-1,"I saw the word ""pomegranate"" and jumped into a..."
...,...,...,...,...
4045,positive,5,1,Ily Tristan
4046,positive,4,1,Takes great images... Better than expected and...
4047,positive,5,1,I brought this camera because I feel in love w...
4048,positive,5,1,This is Awesome!! Sounds much better than all ...
4049,positive,5,1,"I always want one and now love it, for its inc..."

In [32]:
final_df.sample(20)

,category,rating,sentiment,review
143545,neutral,3,0,The Roaring Forties and the Roquefort were not...
301184,positive,5,1,"Simply put, my cats love it. I used to buy ano..."
355145,positive,5,1,"A little goes a long way, I use it to flavor a..."
64281,negative,1,-1,Do Not Buy Mocafe Azteca D'oro 1519 Mexican gr...
323419,positive,4,1,"These are wonderful for our dog's teeth, ingre..."
145637,neutral,3,0,It's kind of noisy so my dog doesn't love it. ...
339748,positive,5,1,This is really good price for loose leaf earl ...
118507,negative,1,-1,"Dude, seriously, this price is for ONE PACKAGE..."
350482,positive,5,1,"I agree about the price for this stuff, and I ..."
40864,negative,2,-1,I did not like this coffee because it tastes m...
65642,negative,2,-1,I find this has a wierd taste. I do not care f...
101688,negative,1,-1,I read all the positive reviews and was very c...
296346,positive,5,1,Taste fantastic! First time buying maple syrup...
54503,negative,1,-1,Product didn't survive riding most of the day ...
315868,positive,5,1,Once you try this piece of chocolate you will ...
106251,negative,1,-1,I ordered these chips because of the prime shi...
314906,positive,5,1,These are the best chips ever. I order them by...
5358,negative,2,-1,I was excited to find high heat oil since our ...
14259,negative,1,-1,I had bought this via Amazon's subscribe and s...
144431,neutral,3,0,I bought this k-cup after all the positive rev...

In [33]:
final_df.to_csv('C:/Users/wonny/Downloads/nlp/1_data_cleaning/data.csv', index=False)